@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

body {
background-color:#ffffff;
}

.header {
    color: #9C9C9C;
    background-color: #1B1B1B;
    font-family: IBM Plex Mono;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 padding: 40px 100px;
    margin: 0 70px;
    border: 2px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    border-color: #1B1B1B;
}

.landing{
display: flex;
justify-content: space-between;
align-items: center;

}

.get-started{
   background-color: #3F8E00;
   color:#ffffff;
   width: 250px; ;
   padding: 10px 20px;
   margin-left: 40%;
   border: 4px;
   font-size: medium;
   font-family:IBM Plex Mono ;
   border-radius: 3px;
}

.my-details{
color:#9C9C9C;
font-size:20px;
font-weight: 400;
margin-left: 40%;
font-family: IBM Plex Mono;
}

.namecard{
   color:#ffffff;
    font-size: 44px;
    font-family: Raleway;
    margin-left: 40%;
}

.myimage{
    border-radius: 50%;
}